// Some Color Variables
$color-bg: #FFF;
$color-main: #FFF;
$color-light: #333;
$color-dark: #000;
$color-accent: #CECECE;
$color-test: aqua;

$width: 2048px;
$height: 1200px;

// Media Query Responsize Desktop
$large:  "(min-width: 1024px)";
$medium: "(min-width: 768px) and (max-width: 1023px)";
$small:  "(max-width: 767px)";

// Media Query Devices
$desktop: "(min-device-width: 1024px)";
$tablet:  "(min-device-width: 768px) and (max-device-width: 1023px)";
$mobile:  "(max-device-width: 767px)";

@mixin full-center{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin horiz-center {
	left: 50%;
	transform: translate(-50%);
}

@mixin fullscreen {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin background-image($name, $size, $position, $repeat: no-repeat){
	background-image: url(unquote($name));
	background-size: $size;
	background-position: $position;
	background-repeat: $repeat;
}

@mixin hitarea {
	top: 0!important;
	left: 0!important;
	width: 100%!important;
	height: 100%!important;
}

@mixin responsive-size($width, $height, $w-context: 2048, $h-context: 1200) {
	width: $width / $w-context * 100vw;
	height: $height / $h-context * 100vh;
}

@mixin responsive-pos($top, $left, $t-context: 1200, $l-context: 2048) {
	top: $top / $t-context * 100vh;
	left: $left / $l-context * 100vw;
}

@mixin responsive($width, $height, $top, $left, $w-context: 2048, $h-context: 1200) {
	width: $width / $w-context * 100vw;
	height: $height / $h-context * 100vh;
	top: $top / $h-context * 100vh;
	left: $left / $w-context * 100vw;
}

@mixin portrait {
	@media all and (orientation : portrait) {
		@content;
	}
}

@mixin landscape {
	@media all and (orientation : landscape) {
		@content;
	}
}

body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div {
	position: absolute;
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

///////

#pano {
	@include fullscreen;
	overflow: hidden;
}


#main {
	@include fullscreen;
	overflow: hidden;
	//display: none;
}

#intro {
	@include fullscreen;
	background-color: #FFF;
	//opacity: 0;
	//display: none;

	.img {
		top: 26px;
		width: 90%;
		left: 50%;
		transform: translate(-50%);
		height: 640 / 960 * 100%;
		@include background-image('img_intro.jpg', cover, center center);

		.txt_overlay {
			top: 1%;
			right: 2%;
			width: 50%;
			height: 98%;
			@include background-image('txt_flagship.png', contain, right);
		}
	}

	.tagline {
		left: 26px;
		top: 706 / 960 * 100%;
		width: 257 / 640 * 100%;
		height: 107 / 960 * 100%;
		@include background-image('tagline_intro.png', contain, center center);

	}

	.cta {
		left: 26px;
		bottom: 26px;
		width: 214 / 640 * 100%;
		height: 62 / 960 * 100%;
		@include background-image('cta_explore.png', contain, center center);
	}

	.logo1 {
		top: 30px;
		left: 30px;
		width: 265 / 640 * 100%;
		height: 40 / 960 * 100%;
		@include background-image('aa_logo1.png', contain, center center);
	}

	.logo2 {
		top: 706 / 960 * 100%;
		right: 30px;
		width: 122 / 640 * 100%;
		height: 110 / 960 * 100%;
		@include background-image('logo2.png', contain, center center);
	}

	.logo3 {
		bottom: 26px;
		right: 30px;
		width: 52 / 640 * 100%;
		height: 52 / 960 * 100%;
		@include background-image('logo3.png', contain, center center);
	}

}

#overlay1 {
	@include fullscreen;
	@include background-image('img_overlay1.jpg', cover, center center);

	.text {
		bottom: 3%;
		width: 100%;
		height: 168px;
		@include background-image('text_overlay1.png', contain, center center);
	}

	.close {
		top: 10px;
		left: 10px;
		width: 150px;
		height: 50px;
		@include background-image('backBtn.png', contain, center center);
	}

}

#overlay2 {
	@include fullscreen;
	@include background-image('img_overlay2.jpg', cover, center center);
	//opacity: 0;

	.text {
		bottom: 3%;
		width: 100%;
		height: 168px;
		@include background-image('text_overlay2.png', contain, center center);
	}

	.close {
		top: 10px;
		left: 10px;
		width: 150px;
		height: 50px;
		@include background-image('backBtn.png', contain, center center);
	}

}

#overlay3 {
	@include fullscreen;
	@include background-image('img_overlay3.jpg', cover, center center);
	//opacity: 0;

	.text {
		bottom: 3%;
		width: 100%;
		height: 168px;
		@include background-image('text_overlay3.png', contain, center center);
	}

	.close {
		top: 10px;
		left: 10px;
		width: 150px;
		height: 50px;
		@include background-image('backBtn.png', contain, center center);
	}

}











